body {
    margin: 0;
    padding: 0;


}

header {

    background-color: #313C4E;

}

.content {
    display: flex;
    align-items: flex-end;

}

.content h1 {
    color: white;

}

.content p {
    color: white;

}

.ul_header_section_2 li {
    color: white;

}

.header_section2 {

    background-color: #222A33;


}

.header_section1_1 {


    flex: 1;
    padding-top: 5px;
    padding-left: 9px;

}

.sub_title {
    color: #3D6F78;
}

nav {

    overflow-x: auto;



}

nav .ul_header_section_2 {
    display: flex;
    flex-direction: row;

    margin: 0px;
    padding: 0px;
    justify-content: space-between;
    text-decoration: none;
    list-style-type: none;
    align-items: center;


}

nav .ul_header_section_2 li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0px 9px;
}

.ul_header_section_2 li a {
    text-decoration: none;
    color: white;
    text-decoration: none;
}

.ul_header_section_2 li a:hover {
    background-color: lightcoral;
}

.my_image {
    border-radius: 50%;
    width: 156px;
    height: 156px;
    padding: 25px;
    object-fit: cover;
}

h1 h2 h3 p {
    font-family: "Times New Roman";

}

h1 {
    line-height: 0.0;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px 10px;
}

.container h2 {
    color: #9FC4C4;
    text-decoration: underline;
    font-weight: 900;
    font-size: x-large;
}

.contain1 h3 {
    margin: 0;
}

.skills {
    background-color: #808080;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 7px;
}

 a {
    text-decoration: none;
    color: #808080;
}

.percent {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #722b88;
}

.tab1 {
    display: flex;
    align-items: flex-end;
    
}
.tab1 p{
    padding-right: 5px;
}
.em{
    color: #808080;
}

.grid {
    display: inline-grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 20px 20px 20px 20px;
}

.item {
    color: #3D6F78;
}

@media (max-width:768px) {
    body {
        flex-direction: column;
        font-size: 14px;
        box-sizing: border-box;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding:0px 15px;
    }

    nav .ul_header_section_2 {
        display: flex;
        flex-direction: column;

    }

    .tab1 {
        display: flex;
        flex-direction: column;


    }
    .tab1 p{
        padding-left: 4px;
    }

    h2 {
        font-size: x-large;
    }

    h3 {
        font-size: larger;
    }

    li {
        font-size: larger;
    }

    li a {
        font-size: larger;
    }

    p {
        font-size: medium;
    }
}